/* Logo Animation */

.animated-logo {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Hero Section Styles */

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.animate-typewriter {
  display: inline-block;
  animation: typewriter 4s steps(40, end),
    blink 0.8s step-end infinite alternate;
}

/* Hero Section Image Styling */

.sec-bg {
  background: rgb(9, 9, 10);
  background: radial-gradient(circle,
      rgba(9, 9, 10, 1) 68%,
      rgba(85, 29, 175, 1) 98%);
}

/* About Section Star Rating */

/* General styles */
.star-rating {
  display: inline-flex;
  gap: 4px;
  opacity: 0;
  /* Initially hidden */
  transform: translateY(20px);
  /* Move down for animation effect */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Full stars */
.star-rating i {
  font-size: 24px;
  color: #ffcc00;
  /* Gold color for full stars */
}

/* Half star styling */
.star-rating .half-star {
  background: linear-gradient(90deg, #ffcc00 50%, #d3d3d3 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Visible state for animation */
.star-rating.animate {
  opacity: 1;
  transform: translateY(0);
  /* Reset position */
}

/* Review Section Brand Logos Style */

.brand-logos img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.brand-logos img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* Logo Animation */

.animated-logo {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Logo Animation */

.animated-logo {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* body {
  background: rgb(9, 9, 10);
  background: radial-gradient(
    circle,
    rgba(9, 9, 10, 1) 68%,
    rgba(85, 29, 175, 1) 98%
  );
} */